<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.dao.OrderInfoMapper">
    <!--接受购物车发来的订单信息-->
    <insert id="addOrderFromCart" parameterType="com.qf.pojo.OrderInfo">
        insert into orderinfo (userid,cartid,orderno,sumprice,goodscount) values (#{userid},#{cartid},#{orderno},#{sumprice},#{goodscount})
    </insert>

    <!--    查询个人单个订单详情-->
    <select id="selectOrderInfo" resultType="com.qf.vo.OrderInfoVO" parameterType="int">
   select o.orderno,o.paymoney,oi.goodscount,o.shipstatus,o.sendtime,o.createtime,o.orderstatus,o.orderid,g.goodscontent,g.goodspic,g.goodsprice,g.goodsname from `order`o,goods g,orderinfo oi,cart c where o.cartid=c.cartid and c.goodsid = g.goodsid and o.orderno=oi.orderno and orderid=#{orderid}
    </select>
    <select id="selectshipaddress" resultType="com.qf.vo.ShipaddressVO" parameterType="int">
        select shipname,shipphone,province,city,addressdetail,email from shipaddress where userid =#{userid} and status ='1'
    </select>
</mapper>                                                