<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.dao.UserMapper">
<!--    登入检测用户是否存在查询-->
    <select id="loginCheck" resultType="com.qf.pojo.User" parameterType="com.qf.pojo.User">
        select * from user where username = #{username} and userpass = #{userpass}
    </select>
<!--自动登入查询-->
    <select id="loginCheck2" resultType="com.qf.pojo.User" parameterType="com.qf.pojo.User">
        select userid,username,userpass from user
    </select>
<!--注册检测用户是否已注册查询-->
    <select id="checkUserName" parameterType="String" resultType="String">
         select username from user where username = #{username}
    </select>
<!--注册新用户-->
    <insert id="registerUserInfo" parameterType="com.qf.pojo.User">
        insert into user(userid, username, userpass,userphone,createtime)
        values(DEFAULT,#{username},#{userpass},#{userphone},#{createtime})
    </insert>
    <!--通过userid获取user-->
    <select id="getUserInfo" resultType="com.qf.pojo.User" parameterType="int">
        select * from  user where userid = #{userId}
    </select>
</mapper>